// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.icon-home {
    position: relative;
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 0.5rem;
}

a.no-decoration {
    text-decoration: none;
    color:#71869d !important;
}
